<section class="services container">
    <h2 class="section-title">What we do to help our client grow in digital era.</h2>
    <div class="services__cards">
        <div class="card">
            <div class="card__icon">
                <img src="./img/services/icon1.svg"
                    alt="Иконка в карточке: 'Сфоткай типо у меня пирамида/солнце/другой_человек на руке'">
            </div>
            <h3 class="card__title">Make Your business To Be
                Better Famous In Internet</h3>
            <p class="card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. </p>
            <a href="#" class="card__link">
                Learn more
                <span class="card__arrow">&rarr;</span>
            </a>
        </div>
        <div class="card">
            <div class="card__icon">
                <div class="card__icon_extra">
                    <img src="./img/services/home-icon1.svg" alt="">
                    <img src="./img/services/home-icon2.svg" alt="">
                    <img src="./img/services/home-icon3.svg" alt="">
                    <img src="./img/services/home-icon4.svg" alt="">
                </div>
                <img src="./img/services/icon3.svg" alt="Иконка в карточке: Мужчина с телефоном">
            </div>
            <h3 class="card__title">Bring Technology To Your
                Comfrotable Home</h3>
            <p class="card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. </p>
            <a href="#" class="card__link">
                Learn more
                <span class="card__arrow">&rarr;</span>
            </a>
        </div>
        <div class="card">
            <div class="card__icon">
                <img src="./img/services/icon2.svg" alt="Иконка в карточке: Женщина с ноутбуком">
            </div>
            <h3 class="card__title">Build Your Digital Product
                That Suitable For Your Need</h3>
            <p class="card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. </p>
            <a href="#" class="card__link">
                Learn more
                <span class="card__arrow">&rarr;</span>
            </a>
        </div>
    </div>


</section>