<section class="feedback">
    <div class="container">
        <div class="feedback__content">
            <h2 class="section-title">Intersted to work with our team?</h2>
            <p class="section-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        </div>
        <button class="button" id="button-feedback">
            Let’s Talk
        </button>
    </div>
</section>
<hr>